{% extends 'base.html' %}

{% block title %}
    Видалення
{% endblock title %}

{% block content %}
<div class="card">
    <h3>Видалення Посту</h3>
    <p>Ви впевнені, що хочете видалити пост?</p>

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="return_url" value="{{ return_url }}">
        <button type="submit" class="btn-my">Так, видалити</button>
        <a href="{{return_url}}" class="a-my-primary">Ні, повернутися назад </a>
    </form>
</div>
{% endblock content %}