{% extends 'base.html' %}

{% block title %}
{% if other_user %}
{{other_user.username }}
{% else %}
    {% if chat_group.groupchat_name %}
    {{ chat_group.groupchat_name }}
    {% else %}
    {{ chat_group.group_name }}
    {% endif %}
{% endif %}
{% endblock title %}

{% block content %}
<div class="chat_wrapper" {% if other_user %}style="width: 40%;"{% endif %}>
    <div class="d-flex w-full">
        <div id="chat_window" class="chat_container">
            <div class="flex justify-center text-emerald-400 p-2 sticky top-0 z-10" style="border-bottom: 1px solid white; height: 10%; align-items: center;">
                <a class="absolute left-9" href="{% url 'messenger:messenger' %}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAYAAADFw8lbAAAACXBIWXMAAAsTAAALEwEAmpwYAAABZklEQVR4nO3YvUrEQBSG4SPqDVhoI4iFaKdoIevPXdgoaKEg2gn2CmtrqxexFyCLze6e7ztJ0Gyhgtr4cycrKQIWGREs9gTngelfJmTmJCJRFEX/F8lNANckm2Y2KR6p6jbJdwCfxSJ5MxgMRsQTVd0F8FFGlitN0ynxwsz2qyIB3HU6nTHxgORRRWDx2J9VdVU8UNXjUCTJhngA4KQqEsBTr9dbFg8AnAYiH0kuDbtPiqNGVc8Cj/sBwKKLSJLngZ3sm9mCl8hmIDInOT/sRmm1WqOqehmIvO92u3PiAcmLQGRiZjPiQZIkE1U3DklkWTYtXrTb7cpQAOZmN0skQ8dRmmXZrHhRize+VmdorW6lWt3zv52cAKyIJ/rDLGpma+IJgMPAzr4A2BBPABwELoVXVV0XTwDsBWL7eZ6PiycAdr5/05fL1UxQMrMtkm/fXqzbYkwUj0g2SF4V46Grnw9RFEXyZ18fu4eSeOzA4gAAAABJRU5ErkJggg==" alt="back"></a>
                {% if other_user %}
                    <a href="{% url 'auth_system:account' other_user.id %}">
                        <div class="flex items-center gap-2 p-4 sticky top-0 z-10">
                            <div class="relative">
                                <div id="online-icon"></div>
                                <img class="profile_photo_small"  src="{{ other_user.photo.url }}" alt=""></div>
                            <div>
                                <span class="font-bold text-white">{{ other_user.username }}</span> 
                            </div>
                        </div>
                    </a>
                {% else %}  
                <img class="profile_photo_small"  src="{{ chat_group.photo.url }}" alt="">              
                <div class="d-flex" style="flex-direction: column;">
                    <h1 style="font-size: 25px; font-weight: bold;">
                        {% if chat_group.groupchat_name %}
                        {{ chat_group.groupchat_name }}
                        {% else %}
                        {{ chat_group.group_name }}
                        {% endif %}</h1>
                    <div style="text-align: center;"><span id="online-count" class="pr-1"></span>online</div>
                </div>
                {% if chat_group.admin == user %}
                <a href="{% url 'messenger:edit_chatroom' chat_group.group_name %}" style="margin-left: 3%;">
                    <div class="p-2 bg-gray-200 rounded-lg group edit_chat">
                        <svg class="fill-gray-500" width="16" height="16">
                            <path d="M11.013 1.427a1.75 1.75 0 0 1 2.474 0l1.086 1.086a1.75 1.75 0 0 1 0 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 0 1-.927-.928l.929-3.25c.081-.286.235-.547.445-.758l8.61-8.61Zm.176 4.823L9.75 4.81l-6.286 6.287a.253.253 0 0 0-.064.108l-.558 1.953 1.953-.558a.253.253 0 0 0 .108-.064Zm1.238-3.763a.25.25 0 0 0-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 0 0 0-.354Z"></path>
                        </svg>
                    </div>
                </a>
                {% endif %}
                {% endif %}
            </div>
            
            <div id='chat_container' class="overflow-y-auto grow scrollbar-hidden">
                
                <ul id='chat_messages' class="flex flex-col justify-end gap-2 p-4">
                    
                    {% for message in chat_messages reversed %}
                    {% include 'messenger/chat_message.html' %}
                    {% endfor %}
                    
                </ul>
                
            </div>
            <div class="sticky bottom-0 z-10 p-2">
                <div class="flex items-center rounded-xl px-2 py-2">
                    <form 
                        id="chat_message_form"
                        method="POST"
                        hx-ext="ws"
                        ws-connect="/ws/chatroom/{{ chatroom_name }}"
                        ws-send
                        class="message_input"
                        _="on htmx:wsAfterSend reset() me"
                    >
                        {% csrf_token %}
                        {{ form.text }}
                    </form>
                    
                    
                </div>
            </div>
        </div>
    </div>   
    {% if not chat_group.is_private %}
    <div class="chat_members" style="width: 450px;border-left: 0.5px solid white; color: white;">
        <h2 style="font-size: 35px; margin: 20px; text-align: center;">Учасники чату</h2>
        <div class="members_count" style="display: flex;margin: 25px 25px 15px 25px;justify-content: space-between;">
            {% load user_filters %}
            <p>{{ chat_group.get_members_count|user_declension }}</p>

            <button id="copyBtn" onclick="copyPageUrl()" style="background: transparent; border: none; color: #00ffcc; cursor: pointer; font-size: 14px; margin-left: 25%;">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAACXBIWXMAAAsTAAALEwEAmpwYAAABz0lEQVR4nMXVy6tPURTA8Z8r1yPlkRjcgUJRymNwSd08ikyVV7kDAykDZHB1B4YUPxNz+QOQyRUKd+BOPJOBFEZEySN5lAzoo91davs55+fc3/mVVWtw9l57fddae691Go3/JejBXozhLV7jItZ2CzAFI8YlOb+Em/iKnzjYDcjpADTRm6334VaANtQBzMJ3XCvZn48PuFEHsjWyGGxjczYC6ekUsj0gW9rYnAqbaZ1CVoSDY21sxvCiI0Dm5BE+YWHB3mAEcbwuZA2+xQUfwFKsxhn8wGPMrAUJ0Do89beMYF5tQAaanPohNR/2YVnXnE8wkEnox2EcxY7Ua+0OrA/D4Qq6IGWGOwUl/YwjRYDdqsuFAHzM1h5ESXNptkLShH2HJVj0D51ekMEVbCwIaCCHpEn7quI99Bc4K4Oczw82Y7r2VYAcCgcP4xeQ9ARWZt9Jv/wxGbA8Gu1yPt5LIMMB2Y/NoaswJ/tOeh/vyw6nsbINUwsAvdg5gXLdLYpyD96EQRotT3Ado3iW7g1z45lWgQyVlSO9nl04h9t4HvNqFCcxO/VBi7Or2NSyloKa0agjxh/Lb0mXfK8FsLgWIAMNpGeKl9FnCTRUO4NO5BeenMawdOCZBAAAAABJRU5ErkJggg==" alt="add-user-male--v1">
            </button>
        </div>
        <ul id="groupchat-members" class="list-group" style="margin: 10px;">            
            {% for member in members %}
            <a class="list-group-item list-group-item-action d-flex"
            href="{% url 'auth_system:account' member.id %}"
            style="display: flex; justify-content: space-between; background: transparent;  border: none;
                   {% if member == chat_group.admin %}
                   color: lightcoral; font-weight: bold;
                   {% else %}
                       color: white;
                   {% endif %}
                   align-items: center;">
         
                    <div class="d-flex" style="align-items: center;">
                        <div class="relative">
                            <img class="profile_photo_small" src="{{ member.photo.url }}" alt="">
                        </div>
                        {{ member.username }}</div>
                </a>
            {% endfor %}
        </ul>
        
    </div>
    {% endif %}
</div>

<script>
    function scrollToBottom(time=0) {
        setTimeout(function() {
            const container = document.getElementById('chat_container');
            container.scrollTop = container.scrollHeight;
        }, time);
    }
    scrollToBottom();
  
    function copyPageUrl() {
      const pageUrl = window.location.href;
      navigator.clipboard.writeText(pageUrl)
        .then(() => {
          const btn = document.getElementById("copyBtn");
          const originalText = btn.innerHTML;
          btn.innerHTML = "Скопійовано!";
          setTimeout(() => {
            btn.innerHTML = originalText;
          }, 2000);
        })
        .catch(err => {
          console.error("Failed to copy: " + err);
        });
    }
  const socket = new WebSocket("ws://" + window.location.host + "/ws/chatroom/{{ chatroom_name }}/");

  socket.onmessage = function(e) {
    const data = JSON.parse(e.data);

    if (data.type === 'update_members') {
      const container = document.getElementById('groupchat-members');
      container.outerHTML = data.html;
    }
  };
</script>

  
{% endblock content %}