{% extends 'base.html' %}

{% block content %}
<div class="chat_wrapper">
    <div id="chat_window" class="chat_container">
        <div class="flex justify-center text-emerald-400 p-2 sticky top-0 z-10" style="border-bottom: 1px solid white; height: 10%; align-items: center;">
            <div id="online-icon"></div>
            {% if other_user %}
            <div id="online-icon" class="gray-dot absolute top-2 left-2"></div>
                <a href="{% url 'auth_system:account' other_user.id %}">
                    <div class="flex items-center gap-2 p-4 sticky top-0 z-10">
                        <img class="w-10 h-10 rounded-full object-cover" src="{{ other_user.photo.url }}" />
                        <div>
                            <span class="font-bold text-white">{{ other_user.username }}</span> 
                        </div>
                    </div>
                </a>
            {% else %}
            <span id="online-count" class="pr-1"></span>online
            {% endif %}
        </div>
        
        <div id='chat_container' class="overflow-y-auto grow scrollbar-hidden">
            <ul id='chat_messages' class="flex flex-col justify-end gap-2 p-4">
                {% for message in chat_messages reversed %}
                {% include 'messenger/chat_message.html' %}
                {% endfor %}
            </ul>
        </div>
        <div class="sticky bottom-0 z-10 p-2">
            <div class="flex items-center rounded-xl px-2 py-2">
                <form 
                    id="chat_message_form"
                    method="POST"
                    hx-ext="ws"
                    ws-connect="/ws/chatroom/{{ chatroom_name }}"
                    ws-send
                    class="message_input"
                    _="on htmx:wsAfterSend reset() me"
                >
                    {% csrf_token %}
                    {{ form.text }}
                </form>
                
                
            </div>
        </div>
    </div>
</div>   

<script>

    function scrollToBottom(time=0) {
        setTimeout(function() {
            const container = document.getElementById('chat_container');
            container.scrollTop = container.scrollHeight;
        }, time);
    }
    scrollToBottom()

</script>

{% endblock content %}