{% if message.author == user %}
<li class="flex justify-end mb-1">
    <div class="bg-green-200 rounded-l-lg rounded-tr-lg max-w-[75%]" style="padding: 15px 15px 15px 15px;">
        <span class="message_text">{{ message.text|urlize }}</span>
    </div>
    <div class="flex items-end">
        <svg height="13" width="8">
            <path fill="#bbf7d0" d="M6.3,10.4C1.5,8.7,0.9,5.5,0,0.2L0,13l5.2,0C7,13,9.6,11.5,6.3,10.4z"/>
        </svg>
    </div>
</li>
{% elif message.author.username == 'adding_message' %}
    <div class="w-30 p-2" style="border-radius: 10px; color: aliceblue; background: #7c8aa9a2;">{{ message.text }}</div>
{% else %}
<li>
    <div class="flex justify-start mb-1">
        <div class="flex items-end mr-2">
            <a href="{% url 'auth_system:account' message.author.id %}">
                <img class="w-8 h-8 rounded-full object-cover" src="{{ message.author.photo.url }}">
            </a>
        </div>
        <div class="flex items-end">
            <svg height="13" width="8">
                <path fill="white" d="M2.8,13L8,13L8,0.2C7.1,5.5,6.5,8.7,1.7,10.4C-1.6,11.5,1,13,2.8,13z"></path>
            </svg>
        </div>
        <div class="bg-white max-w-[75%] rounded-r-lg rounded-tl-lg" style="padding: 5px 15px 15px 15px; max-width: 70%;">
            <span style="font-size: 15px; margin-top: -50%; font-weight: bold;">{{ message.author.username }}</span><br>
            <span class="message_text">{{ message.text|urlize }}</span>
        </div>
    </div>
    
</li>
{% endif %}