{% extends 'base.html' %}

{% block title %}
    Редагування Чату
{% endblock title %}

{% block content %} 
<div  class="card" id="group_edit_card">
    <h1 style="font-size: 25px;text-align: center;font-weight: bold;margin-bottom: 15px;">Редагування Чату</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="d-flex">
        <img id="preview" class="group_img_preview" src="{{chat_group.photo.url}}" alt="Превью зображення">
        <div>
            {{ form.groupchat_name }}
            {{ form.photo }}
        </div>
    </div>
    <div class="my-4">
    <h2>Користувачі</h2>
    {% for member in chat_group.members.all %}
    <div class="flex justify-between items-center">
        <div class="flex items-center gap-2 py-2">
            <img class="w-14 h-14 rounded-full object-cover" src="{{ member.photo.url }}" />
            <span class="font-bold">{{ member.username }}</span> 
        </div>
        
        {% if member != chat_group.admin %}
        <div class="inline-block pr-4">
            <input type="checkbox" name="remove_members" value="{{ member.id }}" class="relative p-4 cursor-pointer appearance-none rounded-md border after:absolute after:left-0 after:top-0 after:h-full after:w-full after:bg-[url('https://img.icons8.com/ffffff/32/multiply.png')] after:bg-center checked:bg-red-500 hover:ring hover:ring-gray-300 focus:outline-none" />
        </div>
        {% endif %}
    </div> 
    {% endfor %}
    </div>

    <button class="a-my-primary" type="submit">Оновити</button>
</form>

</div>

<script>
    const input = document.getElementById('id_photo');
    const preview = document.getElementById('preview');

    input.addEventListener('change', function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            };
            reader.readAsDataURL(file);
        } else {
            preview.style.display = 'none';
        }
    });
</script>
{% endblock %}
