{% extends 'base.html' %}

{% block title %}
    Мій акаунт
{% endblock title %}

{% block content %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </li>
    {% endfor %}
    </ul>
    {% endif %}
    
    <h1> {{ client.username }} підписників - {{ client.get_subscribers_count }}</h1>
    <img src="{{ client.photo.url }}" alt="" width="500px" height="500px">
    <form method="post" action="{% url 'auth_system:subscribe' client.id %}">
        {% csrf_token %}
        <button class="subscribe_button" type="submit">
            {% if user.id in subscribers %}
            <span>Відписатись</span>
            {% else %}
            <span>Підписатись</span>
            {% endif %}
        </button>
        {{ client.get_subscriptions_count }} підписок
    </form>
{% endblock content %}

