{% extends 'base.html' %}

{% block title %}Вхід{% endblock %}

{% block content %}
    <div class="card">
        <h3>Заповніть форму для входу</h3>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group-my">
                <label for="id_email">Нікнейм:</label><br>
                {{ form.username }}
            </div>
            <div class="form-group-my password-container">
                <label for="id_password">Пароль:</label><br>
                {{ form.password }}
                <span class="toggle-password" data-target="id_password">
                    <i class="fas fa-eye"></i>
                </span>
            </div>
            <button type="submit" class="btn-my m-3">Увійти</button>
            <a href="{% url 'auth_system:register' %}" class="a-my-primary">Зареєструватись</a>
        </form>
        {% if form.errors %}
            <ul class="error-list">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}