{% extends 'base.html' %}

{% block title %}
    Повідомлення
{% endblock title %}    
{% block content %}
<form method="post" action="{% url 'auth_system:delete_messages' %}">
    {% csrf_token %}
    <button type="submit">Видалити всі повідомлення для цього користувача</button>
</form>

<ol class="list-group list-group-flush" style="background: transparent;width: 50%;">
    {% for message in messages  %}
    <a href="{% if message.category == 'folowed_user' %}
        {% url 'auth_system:account' message.message_from.id %}
    {% else %}
    {% url 'posts:post_detail' message.post.id %}
    {% endif %}" style="text-decoration: none;color:#4d3a4d">
        <li class="message_li">
            {{ message.text }}
        <span class="badge text-bg-primary rounded-pill"> {{ message.created_time }} </span>
      </li>
    </a>
    {% endfor %}
</ol>
    
{% endblock content %}