{% extends 'home/base.html' %}

{% block title %}Вхід{% endblock %}

{% block content %}
<center>
    <div class="card-my">
        <h3>Заповніть форму для входу</h3>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group-my">
                <label for="id_email">Електронна пошта:</label><br>
                {{ form.email }}
            </div>
            <div class="form-group-my password-container">
                <label for="id_password">Пароль:</label><br>
                {{ form.password }}
                <span class="toggle-password" data-target="id_password">
                    <i class="fas fa-eye"></i>
                </span>
            </div>
            <button type="submit" class="btn-my m-3">Увійти</button>
        </form>
        {% if form.errors %}
            <ul class="error-list">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</center>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% for message in messages %}
        Swal.fire({
            title: '{{ message.tags|default:"Помилка"|capfirst }}',
            text: '{{ message }}',
            icon: '{% if "error" in message.tags %}error{% elif "success" in message.tags %}success{% else %}info{% endif %}',
            showCancelButton: true,
            confirmButtonText: '{% if "success" in message.tags %}Перейти до профілю{% else %}OK{% endif %}',
            cancelButtonText: 'Відміна',
        }).then((result) => {
            {% if "success" in message.tags %}
            if (result.isConfirmed) {
                window.location.href = "{% url 'users:account' %}";
            }
            {% endif %}
        });
        {% endfor %}

        document.querySelectorAll('.toggle-password').forEach(toggle => {
            const targetId = toggle.getAttribute('data-target');
            const passwordField = document.querySelector(`#${targetId}`);
            if (passwordField) {
                toggle.addEventListener('click', function () {
                    const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
                    passwordField.setAttribute('type', type);
                    this.querySelector('i').classList.toggle('fa-eye');
                    this.querySelector('i').classList.toggle('fa-eye-slash');
                });
            }
        });
    });
</script>
{% endblock %}