{% extends 'base.html' %}

{% block title %}
    Список слідкувачів
{% endblock title %}

{% block content %}
<div class="client_list_container">
    <h1>Слідкувачі</h1>
    <br>
    <form method="get" class="form-inline mb-3 d-flex filter_form"> 
        {{ form.username }} 
    <button type="submit" class="a-my-primary">Знайти</button> 
    </form>
    <div class="list-group" style="width: 100%;">
        {% if subscribers %}
            {% for client in subscribers %}
            <a href="{% url 'auth_system:account' client.id %}" style=" align-items: center;" class="list-group-item list-group-item-action d-flex"><img class="profile_photo_small" src="{{ client.photo.url }}" alt="">{{ client.username }}</a>
            {% endfor %}
        {% else %}
            <h1>Нажаль, користувачів з таким ніком не знайдено</h1>
        {% endif %}
    </div>
</div>
{% endblock content %}