body{
    background: #362b48;
}
.con{
    background-color: #ffe9ff;
    display: flex;
}
.card{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px auto;
    text-align: left;
    color:#4d3a4d;
}
.content{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.form{
    margin-left: 50%;
}
.btn-my {
    background-color: rgb(252, 117, 117);
    border: none;
    color: black;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.btn-my:hover {
    background-color: rgb(201, 93, 93);
    color: rgb(248, 238, 238);
    transition: 0.5s;
}
.header{
    position:fixed;
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 280px;
    width: 250px;
    display: block;
    background-color: #3b386b;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}
.nav_item{
    display: flex;
    width: 26vh;
    height: 50px;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 20px;
    align-items:center;
    padding-left: 15%;
}
.nav_item:hover{
    background: rgba(142, 142, 142, 0.459);
    transition: 0.5s;
}
.nav_title{
    display: flex;
    width: 100%;
    height: 70px;
    color: whitesmoke;
    align-items:center;
    justify-content: center;
    font-family: "WindSong", cursive;
    font-weight: 1000;
    font-size: 45px;
    font-style: normal;
    margin-bottom: 100px;
}
.nav_icon{
    margin-right: 10%;
}
.post{
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: left;
    color:#4d3a4d;
    width: 550px;
    margin-left: 7%;
}
.profile_link{
    text-decoration: none;
    font-size: 35px;
    color: #4d3a4d;
    font-weight: 1000;
}
.post_image{
    border-radius: 10px;
    width: 600px ;
    height: 600px;
    object-fit: cover;
}
.post_description{
    width: 550px;
}
.like_button{
    text-align: left;
    border: none;
    background: transparent;
    font-size: 25px;
}
.create_post_form{
    width: 30%;
    margin-left: 42%;
}
.preview_img{
    object-fit: cover;
    border-radius: 15px;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100% ;
    height: 500px;
}
.comments{
    width: 600px;
    background: rgba(232, 211, 232, 0.428);
    padding: 20px;
    border-radius: 10px;
}
.comments_div{
    margin-top: 10px;
}
.comment_form{
    display: flex;
    justify-content: space-between;
}
.comment_field{
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    border: 0.5px solid black;
    background: #ffe9ff;
}